<div class="container">
  <div class="row">
    <div class="col-4 col-md-3 col-lg-2">
      <img alt="Brand" class="logo img-fluid" src="favicon.ico">
    </div>
    <div class="col-8 col-md-9 col-lg-10">
      <h2 class="text-uppercase">Wlodzimierz</h2>
      <hr>
      <p>The goal of the project is to provide a simple, convenient and cross-platform messenger for providing textual
        communication between users.</p>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-sm-12">
      <h5>Principles, paradigms, practices</h5>
      <p class="mt-3">This project adheres to the best practices from the entire field of business application
        development.</p>
      <p>Among them:</p>
      <ul>
        <li class="mt-3">Object Oriented Programming (OOP)</li>
        <li class="mt-1">Object Oriented Design (OOD - SOLID, GRASP)</li>
        <li class="mt-1">GOF design patterns as well as architectural patterns (MVC, MVVM, CQRS)</li>
        <li class="mt-1">Domain-Driven Design (DDD)</li>
        <li class="mt-1">Reactive Programming Paradigm</li>
        <li class="mt-1">Principle of "Clean Architecture"</li>
        <li class="mt-1">Test Driven Development (TDD)</li>
      </ul>
      <h5>Architecture</h5>
      <p class="mt-3">The server-side RESTful Web API is written in .NET Core using MediatR library to implement CQRS
        design
        pattern.</p>
      <p>The clients are:</p>
      <ul>
        <li class="mt-3">Single-page application (SPA) in Angular</li>
        <li class="mt-1">Native mobile application on Kotlin</li>
      </ul>
      <h4>Technologies</h4>
      <hr>
      <blockquote class="blockquote-footer">
        <p>To describe the technologies of this project, it was decided to divide them
          into two conditional categories. The first category <strong>External clients</strong>
          refers to technologies that are related to the clients of the project, and
          the second category <strong>Server</strong> refers to technologies that are related to the
          server-side RESTful Web API.</p>
      </blockquote>
      <h5>External clients</h5>
      <h6 class="mt-3">SPA web app</h6>
      <ul>
        <li class="mt-3">Angular 11</li>
        <li class="mt-1">Sass</li>
        <li class="mt-1">Bootstrap 4.5 (ng-bootstrap)</li>
        <li class="mt-1">RxJS 6</li>
      </ul>
      <h6>Native mobile app</h6>
      <ul>
        <li class="mt-3">Kotlin 1.4</li>
        <li class="mt-1">Android Jetpack (Hilt, Android Architecture Components)</li>
        <li class="mt-1">SQLite</li>
        <li class="mt-1">RxJava (RxKotlin, RxAndroid, RxBinding)</li>
      </ul>
      <h5>Server</h5>
      <ul>
        <li class="mt-3">.NET 5</li>
        <li class="mt-1">Docker 19.03</li>
        <li class="mt-1">Microsoft SQL Server 2019</li>
        <li class="mt-1">Entity Framework Core 5</li>
        <li class="mt-1">ASP.NET Core Identity 5</li>
        <li class="mt-1">MediatR 9</li>
        <li class="mt-1">AutoMapper 10.1</li>
        <li class="mt-1">FluentValidation 9.3</li>
        <li class="mt-1">Swagger</li>
        <li class="mt-1">FluentAssertions 5.10</li>
        <li class="mt-1">Moq 4.15</li>
        <li class="mt-1">NUnit</li>
        <li class="mt-1">Respawn 3.3</li>
        <li class="mt-1">LinqKit 1.1</li>
        <li class="mt-1">Redis 6</li>
        <li class="mt-1">Serilog 2.10</li>
        <li class="mt-1">Seq 2020.1</li>
        <li class="mt-1">SignalR</li>
      </ul>
      <h4>More information</h4>
      <hr>
      <p>For more information refer to the <a href="https://github.com/liannoi/wlodzimierz">repository</a>, where you
        can find: source code, specification, instructions for deploying the system in Docker, as well as information
        about the Apache-2.0 license.</p>
    </div>
  </div>
</div>
