<div class="container">
  <div class="row">
    <div class="col-4 col-md-3 col-lg-2">
      <img alt="Brand" class="logo img-fluid" src="favicon.ico">
    </div>
    <div class="col-8 col-md-9 col-lg-10">
      <h2 class="text-uppercase">Wlodzimierz</h2>
      <hr>
      <p>The goal of the project is to provide a simple, convenient and cross-platform messenger for providing textual
        communication between users.</p>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-sm-12">
      <h5>Principles, paradigms, practices</h5>
      <p>This project adheres to the best practices from the entire field of business application development.</p>
      <p>Among them:</p>
      <ul>
        <li>Object Oriented Programming (OOP)</li>
        <li>Object Oriented Design (OOD - SOLID, GRASP)</li>
        <li>GOF design patterns as well as architectural patterns (MVC, MVVM, CQRS)</li>
        <li>Domain-Driven Design (DDD)</li>
        <li>Reactive Programming Paradigm</li>
        <li>Principle of "Clean Architecture"</li>
        <li>Test Driven Development (TDD)</li>
      </ul>
      <h5>Architecture</h5>
      <p>The server-side RESTful Web API is written in .NET Core using MediatR library to implement CQRS design
        pattern.</p>
      <p>The clients are:</p>
      <ul>
        <li>Single-page application (SPA) in Angular</li>
        <li>Native mobile application on Kotlin</li>
      </ul>
      <h4>Technologies</h4>
      <hr>
      <blockquote class="blockquote-footer">
        <p>To describe the technologies of this project, it was decided to divide them
          into two conditional categories. The first category <strong>External clients</strong>
          refers to technologies that are related to the clients of the project, and
          the second category <strong>Server</strong> refers to technologies that are related to the
          server-side RESTful Web API.</p>
      </blockquote>
      <h5>External clients</h5>
      <h6>SPA web app</h6>
      <ul>
        <li>Angular 11</li>
        <li>Sass</li>
        <li>Bootstrap 4.5 (ng-bootstrap)</li>
        <li>RxJS 6</li>
      </ul>
      <h6>Native mobile app</h6>
      <ul>
        <li>Kotlin 1.4</li>
        <li>Android Jetpack (Hilt, Android Architecture Components)</li>
        <li>SQLite</li>
        <li>RxJava (RxKotlin, RxAndroid, RxBinding)</li>
      </ul>
      <h5>Server</h5>
      <ul>
        <li>.NET 5</li>
        <li>Docker 19.03</li>
        <li>Microsoft SQL Server 2019</li>
        <li>Entity Framework Core 5</li>
        <li>ASP.NET Core Identity 5</li>
        <li>MediatR 9</li>
        <li>AutoMapper 10.1</li>
        <li>FluentValidation 9.3</li>
        <li>Swagger</li>
        <li>FluentAssertions 5.10</li>
        <li>Moq 4.15</li>
        <li>NUnit</li>
        <li>Respawn 3.3</li>
        <li>LinqKit 1.1</li>
        <li>Redis 6</li>
        <li>Serilog 2.10</li>
        <li>Seq 2020.1</li>
        <li>SignalR</li>
      </ul>
      <h4>More information</h4>
      <hr>
      <p>For more information refer to the <a href="https://github.com/liannoi/wlodzimierz">repository</a>, where you
        can find: source code, specification, instructions for deploying the system in Docker, as well as information
        about the Apache-2.0 license.</p>
    </div>
  </div>
</div>
