/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* core */

body {
  font-family: 'SF Pro Display', 'Helvetica Neue', -apple-system, sans-serif;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

body,
html {
  height: 100%;
}

html {
  position: relative;
}

/* cursor events */

.blocked-event {
  cursor: not-allowed;
}

.default-event {
  cursor: default;
}

/* controls */

button[disabled] {
  @extend .blocked-event;
}

.text-error {
  @extend .mt-2;
  @extend .mb-2;
  @extend .text-muted;
  color: #24292e;
}

.text-fatal {
  @extend .text-danger;
  @extend .mt-3;
}

.text-error,
.text-fatal {
  @extend .small;
}

.btn:not(.dropdown-toggle) {
  font-weight: 500 !important;
}

/* loading animation  */

.app-loading {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.app-loading .spinner {
  height: 200px;
  width: 200px;
  animation: rotate 2s linear infinite;
  transform-origin: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.app-loading .spinner .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #287dc5;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

/* chat */

.bg-primary-soft {
  background-color: #f5f6fa;
}

/* another - white */

.message-another,
.message-another.theme-default-white,
.message-another.theme-default-white-preview {
  background-color: #ffffff !important;
  color: #404040;
}

/* primary - white */

.message-primary,
.message-primary.theme-default-white,
.message-primary.theme-default-white-preview {
  background-color: #404040 !important;
  color: #ffffff;
}

/* another - yellow */

.message-another.theme-yellow,
.message-another.theme-yellow-preview {
  background-color: #ffc108 !important;
  color: #00003f;
}

/* primary - yellow */

.message-primary.theme-yellow,
.message-primary.theme-yellow-preview {
  background-color: #403002 !important;
  color: #ffffff;
}

/* another - blue */

.message-another.theme-blue,
.message-another.theme-blue-preview {
  background-color: #007bff !important;
  color: #ffffff;
}

/* primary - blue */

.message-primary.theme-blue,
.message-primary.theme-blue-preview {
  background-color: #001f40 !important;
  color: #ffffff;
}

/* another - default dark */

.message-another.theme-default-dark,
.message-another.theme-default-dark-preview {
  background-color: #31363d !important;
  color: #c9d1d9;
}

/* primary - default dark */

.message-primary.theme-default-dark,
.message-primary.theme-default-dark-preview {
  background-color: #0e1217 !important;
  color: #c9d1d9;
}

/* another - dimmed */

.message-another.theme-dark-dimmed,
.message-another.theme-dark-dimmed-preview {
  background-color: #2e333a !important;
  color: #adbac7;
}

/* primary - dimmed */

.message-primary.theme-dark-dimmed,
.message-primary.theme-dark-dimmed-preview {
  background-color: #23272e !important;
  color: #adbac7;
}
