<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="text-center font-weight-light">Sign in to Wlodzimierz</h2>
    </div>
  </div>

  <div class="row mt-3 d-flex justify-content-center align-content-center">
    <div class="col-sm-4">
      <form (ngSubmit)="onSignIn()" [formGroup]="signInFormGroup" class="p-4 bg-purple border-soft" method="post">
        <div class="form-group">
          <label class="font-weight-bold" for="user_username">Username</label>
          <input class="form-control" formControlName="username" id="user_username" required type="text">

          <div *ngIf="username.invalid && (username.dirty || username.touched)" class="text-danger mt-1">
            <div *ngIf="username.errors?.required">
              <span>Username cannot be empty.</span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="font-weight-bold" for="user_password">Password</label>
          <input class="form-control" formControlName="password" id="user_password" required type="password">

          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger mt-1">
            <div *ngIf="password.errors?.required">
              <span>Password cannot be empty.</span>
            </div>
            <div *ngIf="password.errors?.minLength">
              <span>Password must be at least 6 characters.</span>
            </div>
            <div *ngIf="password.errors?.pattern">
              <span>Password must contain at least one uppercase and lowercase letter, as well as one special character.</span>
            </div>
          </div>

          <div
            *ngIf="haveFirstAttempt && (signInFormGroup.errors?.unauthorized && (signInFormGroup.touched || signInFormGroup.dirty))"
            class="text-danger mt-3"><span>Username or password is incorrect.</span>
          </div>
        </div>

        <div class="form-check mb-3">
          <input class="form-check-input" formControlName="shouldRemember" id="user_remember" type="checkbox" value="">
          <label class="form-check-label" for="user_remember">Remember me</label>
        </div>

        <div class="form-row">
          <div class="col-sm-12">
            <button [disabled]="signInFormGroup.invalid"
                    class="btn btn-success w-100 font-weight-bold"
                    type="submit">Sign in
            </button>
          </div>
        </div>
      </form>

      <p class="text-center border-soft mt-3 p-3">
        New to Wlodzimierz? <a [routerLink]="'/' + [authenticationPaths.SignUp]">Create account</a>.
      </p>
    </div>
  </div>
</div>
