/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@media only screen and (min-width: 992px) {
  .navbar {
    height: 80px;
  }

  .right-border {
    border-right: 1px solid #dee2e6 !important;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.navbar {
  height: 69px;
}

.navbar a:hover,
.navbar a.text-body {
  opacity: 1;
}

.navbar a {
  font-size: 15px;
  transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-tap-highlight-color: transparent;
  opacity: 0.7;
}

.navbar-brand img {
  max-width: 45px;
  height: 100%;
}

.zindex-dropdown {
  z-index: 1000;
}

.cursor-pointer {
  cursor: pointer;
}
