<div class='row mb-4'>
  <div class='offset-sm-2'></div>
  <div class='col-sm-5'>
    <form (ngSubmit)='onSignIn()' [formGroup]='group' method='post'>
      <div class='form-row'>
        <div class='form-group col-md-6'>
          <label class='font-weight-bold' for='user_first_name'>First name</label>
          <input [value]='currentUser?.firstName' class='form-control' formControlName='firstName' id='user_first_name'
                 required type='text'>
        </div>
        <div class='form-group col-md-6'>
          <label class='font-weight-bold' for='user_last_name'>Last name</label>
          <input [value]='currentUser?.lastName' class='form-control' formControlName='lastName' id='user_last_name'
                 required type='text'>
        </div>
      </div>
      <div class='form-group'>
        <label class='font-weight-bold' for='user_email'>Email</label>
        <input [value]='currentUser?.email' class='form-control' formControlName='email' id='user_email'
               required type='email'>
      </div>
      <div class='form-group'>
        <label class='font-weight-bold' for='user_username'>Username</label>
        <input [value]='currentUser?.userName' class='form-control' formControlName='userName' id='user_username'
               required type='text'>
      </div>
      <div class='form-row'>
        <div class='form-group col-md-12'>
          <button class='btn btn-success font-weight-bold' type='submit'>Update profile
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class='offset-sm-1'></div>
  <div class='col-sm-4'>
    <label class='mb-2 font-weight-bold d-block small' for='profile_photo'>Profile picture</label>
    <img [src]='photo' alt='Photo' class='profile img-fluid' id='profile_photo'>
  </div>
</div>
